{% extends "layout.html" %}

{% block title %}Página Inicial - Gestor da Câmara{% endblock %}

{% block content %}

    <h1>Gestor da Câmara Hi3510</h1>
    <p>Página inicial com snapshot e logs do sistema.</p>

    <div class="home-grid">
        <div class="snapshot-container">
            <h2>Snapshot da Câmara</h2>
            <img src="{{ url_for('api.snapshot_feed') }}" alt="Snapshot da Câmara" class="snapshot-img">
        </div>

    </div>
{% endblock %}

{% block scripts %}
{% endblock %}